<% if controller.controller_name == "Sites" %>
     <a href="#" class="lbAction" rel="deactivate"><img id="reading-close" src="/images/closelabels.gif" alt="Close Button" title="Close" class="right"
    style="width: 66px; height: 22px; float: right" /></a>
<%  end %>
<h2>Login with your User ID and Password:</h2>
<% form_tag session_path do %>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br />
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %><%= link_to "Sign Up", new_user_path %></p>
<% end %>
<script type='text/javascript'>
  document.getElementById('login').focus()
</script>
