<h2>Dear <%=h @order.ship_to_first_name %></h2>

<h3>Order ID: <%= @order.id %></h3>

<p>Following are the items that you've ordered.<br />
Total Items: <%=  @order.line_items.size %></p>

<table>
    <tr><th>Item Name</th><th>Unit Price</th><th>Quantity</th><th>Amount</th></tr>
    <% @order.line_items.each do |item| %>
    <tr class="<%= cycle :odd, :even  %>">
        <td><%=h item.product.name %></td>
        <td><%= item.price.to_f %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price.to_f * item.quantity.to_f %></td>
    </tr>
    <% end  %>
</table>