Dear <%=h @order.ship_to_first_name %>

Order ID: <%= @order.id %>

Following are the items that you've ordered.
Total Items: <%=  @order.line_items.size %>

<table>
    <tr><th>Item Name</th><th>Unit Price</th><th>Quantity</th><th>Amount</th></tr>
    <% @order.line_items.each do |item| %>
    <tr>
        <td><%=h item.product.name %></td>
        <td><%= item.price.to_f %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price.to_f * item.quantity.to_f %></td>
    </tr>
    <% end  %>
</table>

-- Hande Made Wedding Cards.