<table>
  <tr>
    <th colspan='2'>Menu Order</th>
    <th>Position</th>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td>
      <% if page.first? %>
        &nbsp;
      <% else %>
        <%= link_to "[&nbsp;+&nbsp;]", move_higher_page_path([:admin, page]), :method => :put %>
      <% end %>
    </td>
    <td>
      <% if page.last? %>
        &nbsp;
      <% else %>
        <%= link_to "[&nbsp;-&nbsp;]", move_lower_page_path([:admin, page]), :method => :put %>
      <% end %>
    </td>
    <td align="center"><%=h page.position %></td>
    <td><%= link_to h(page.title), [:admin, page] %></td>
    <td>
      <% if page.body.length >= 60 %>
        <%=h page.body[0,56] + " ..." %>
      <% else %>
        <%=h page.body %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />

