<%=  javascript_tag "set_class_name('contentTop', 'fixDesign');" %>
       		 <div class="contentDesignDetail">
           	   <div class="contentDesignTxt">
                    	Click on any product to customize it with your own text & colors.
               </div>
                <% @products.each_with_index do |product,x| %>
               <div class="contentDesignSub<%= x + 1%>">
                 <% form_tag('/posts', :method => :put, :id => "form#{x+1}") do -%>

                    <%= link_to image_tag("#{product.image.public_filename if product.image}", :alt => product.name), product.document.url if product.document  %>
                    <div class="contentDesignSubBot1">
                       	<%=h product.name %>
                        <%= link_to_remote image_tag("cart-add.png"), :url => add_to_cart_site_path(product), :method => :get %>
                        <input name="quantity" id="quantity" type="text" /> <span class="txtgrey">3$ / pcs</span>
                        <%#=  observe_field "quantity",
							:url => update_cart_quantity_site_path(product),
                                                        :method => :put, 
							:on => 'blur',
                                                        :with => 'quantity'
                        %>
                         <%= observe_form "form#{x+1}",
                                                    :url => update_cart_quantity_site_path(product)
                         %>
                    </div>
                    <%- end -%>
               </div>
                <%- end -%>
                </div>
                <ul class="contentBotMenu">
                	<li class="tax"><a href="#">» Taxes & delivery costs</a></li>
                    <li>Total price excl. taxes & delivery costs:</li>
                    <li><span id="cart_total"><%= @cart.total_price %>  $</span></li>
                    <li class="fr">
                    

                    <%= select_tag(:exchange_rate, "<option>Currency</option>" + options_from_collection_for_select(@exchange_rate, :currency, :currency, session[:exchange_currency])) %>

                    <%= link_to 'Show Cart', "#", :onclick => "onClickLightbox('/sites/show_cart')" %>
                        <%= observe_field  'exchange_rate',
                                                :url => change_currency_site_path(2),
                                                :method => :put,
                                                :on => 'change',
                                                :with => 'exchange_rate'
                        %>
                        </li>
                </ul>
                <ul class="btns">
                	<li class="prev btnPrev"><a href="#"></a></li>
                	<li class="next btnNext btnNext1"><a href="#"></a></li>
                </ul>
              
           
