<div id="innercontentBot" class="clearfix">
    <div class="contentDesignDetail">
        <div class="contentDesignTxt">
            Click on any product to customize it with your own text & colors.
        </div>
        <% @products.each_with_index do |product,x| %>
            <div class="contentDesignSub<%= x + 1%>">
                <% form_remote_tag(:url => add_to_cart_site_path(product), :html => { :id => "form#{x+1}", :name => "form#{x+1}" }) do -%>
        <% if @cart.is_pdf_customized(product.id) %><em>Customized</em><% end %>
        <% if @cart.needs_customization(product.id) %><em>Click to customize</em><% end %>

                    <%= link_to image_tag("#{product.image.public_filename if product.image}", :alt => product.name), (pdf_show_path(product.id)), :class => 'img', :id =>dom_id(product)  %>
                    <div class="contentDesignSubBot<%= x + 1%>">
                        <%=h product.name %><br/>
                        <%= hidden_field_tag('id', product.id) %>
                        <%= text_field_tag("quantity", @cart.get_quantity(product.id)) %><span class="txtgrey"><%= product.price %>/pcs</span>
                    </div>
    <%- end -%>

    <%= observe_form "form#{x+1}", :url => add_to_cart_site_path(product), :on => 'changed' %>
            </div>

        <%- end -%>
    </div>

    <ul class="contentBotMenu">
        <li class="tax"><%= modalbox_link_to "» Taxes & delivery costs", { :url => tax_delivery_cost_path, :width => "600" }, :title => 'Tax and Delivery Cost'%></li>
        <li>Total price excl. taxes & delivery costs:</li>
        <li><span id="cart_total"><%= @cart.converted_total_price %>  <%= session[:exchange_currency] %></span></li>
        <li class="fr"><%= select_tag(:exchange_rate, options_from_collection_for_select(@exchange_rate, :currency, :currency, session[:exchange_currency])) %>

            <%= observe_field  'exchange_rate',
              :url => change_currency_site_path(2),
              :method => :put,
              :on => 'change',
              :with => 'exchange_rate'
        %></li>
    </ul>
    <ul class="btns">
        <li class="prev btnPrev"><%= link_to "Previous", root_path %></li>
        <li class="next btnNext btnNext1"><%= link_to "Next", customizes_path  %></li>
    </ul>
</div>
<!-- //end innercontentBot -->
<%#=  javascript_tag "set_navigation(2)" %>
<% javascript_tag do %>
    //set_navigation(2);
    //new PeriodicalExecuter(function() {new Ajax.Updater({success:'invoice',failure:'error'}, '/testing/invoice/16', {asynchronous:true, evalScripts:true})}, 10)
<% end %>
