<%=  javascript_tag "set_class_name('contentTop', 'fixDesign');" %>
       		 <div class="contentDesignDetail">
           	   <div class="contentDesignTxt">
                    	Click on any product to customize it with your own text & colors.
               </div>
                <% @products.each_with_index do |product,x| %>
               <div class="contentDesignSub<%= x + 1%>">
                 

                    <%= link_to image_tag("#{product.image.public_filename if product.image}", :alt => product.name), (product.document.url if product.document)  %>
                    <div class="contentDesignSubBot<%= x + 1%>">
                       	<% form_remote_tag(:url => add_to_cart_site_path(product), :html => { :id => "form#{x+1}" }) do -%>
                            <%#=h product.name %>
                            <%#= link_to_remote image_tag("cart-add.png"), :url => add_to_cart_site_path(product), :html => { :class => "addToCartBtn", :method => :get } %>
                            <%= hidden_field_tag('id', product.id) %>
                        <p><%= text_field_tag("quantity") %><span class="txtgrey">3$ / pcs</span></p>
                        <p><%= image_submit_tag("cart-add.png", :class => "imageSubmit") %></p>
                        <%- end -%>
                    </div>
                    
               </div>
                <%- end -%>
                </div>
                <ul class="contentBotMenu">
                	<li class="tax"><a href="#">» Taxes & delivery costs</a></li>
                    <li>Total price excl. taxes & delivery costs:</li>
                    <li><span id="cart_total"><%= @cart.total_price %>  $</span></li>
                    <li class="fr">
                    

                    <%= select_tag(:exchange_rate, "<option>Currency</option>" + options_from_collection_for_select(@exchange_rate, :currency, :currency, session[:exchange_currency])) %>

                    <%= link_to 'Show Cart', "#", :onclick => "onClickLightbox('/sites/show_cart')" %>
                        <%= observe_field  'exchange_rate',
                                                :url => change_currency_site_path(2),
                                                :method => :put,
                                                :on => 'change',
                                                :with => 'exchange_rate'
                        %>
                        </li>
                </ul>
                <ul class="btns">
                	<li class="prev btnPrev"><a href="#"></a></li>
                	<li class="next btnNext btnNext1"><a href="#"></a></li>
                </ul>
              
           
