<div id="cart_item_<%= item.product_id %>">
<div class="cart_item">
<p><%= h(item.product.name) %></p>
<%= image_tag(item.product.image.public_filename) %>
<p>Quantity: <%= item.quantity %></p>
Price: <%= show_price(item.price) %>
    
    <span><%= link_to_remote 'Remove', :url => remove_from_cart_site_path(:id => item.product_id), 
            :confirm => "Do you want to remove '#{item.product.name}' from your cart?", :method => :delete %></span>
</div>
</div>