<div id="cart_item_<%= item.product_id %>">
    <div class="cart_item">
        <h3><%= h(item.product.name) %></h3>
        <% if @cart.is_pdf_customized(item.product.id) %><em>Customized</em><% end %>
        <% if @cart.needs_customization(item.product.id) %><em>Click to customize</em><% end %>

        <%= link_to image_tag("#{item.product.image.public_filename}", :alt => item.product.name), (pdf_show_path(item.product.id)), :class => 'img'  %>
        <p>Quantity: <%= item.quantity %></p>
        <p>Price: <%= show_price(item.price) %></p>
        <span><%= link_to_remote 'Remove', :url => remove_from_cart_site_path(:id => item.product_id),
          :confirm => "Do you want to remove '#{item.product.name}' from your cart?", :method => :delete %></span>
    </div>
</div>