<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Wedding: 
  <%= controller.controller_name -%>:
  <%= controller.action_name -%>
 </title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'table-sorter' %>
 <%= stylesheet_link_tag 'admin-html','admin-layout' %>

  <!-- Conditional comment to apply opacity fix for IE #content background.
       Invalid CSS, but can be removed without harming design -->
  <!--[if gt IE 5]>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
</head>
<body>

<div id="wrapper">
 <!-- #content: applies the white, dropshadow background -->
  <div id="container">
    <!-- #header: holds site title and subtitle -->
    <div id="header">
      <h1><span class="big darkBrown">H</span>andMade <span class="big darkBrown">W</span>edding Cards</h1>
      <h2><span class="highlight">Websearch Professional</span></h2>
        <%= link_to 'Website', root_path -%>
    </div>
    <%= render :partial => "admin/menu" %>
    <%#= navigation [:admin_categories, 'Categories'], :hover_text => true  %>
	
    <!-- #page: holds all page content, as well as footer -->
    <div id="page">
	<% flash.each do |key, msg| %>
        <%= content_tag :p, msg, :id => key, :class => 'flash' %>
	<% end %>
	
	<div id="content"><%= yield %></div>

      <!-- .footer: the site footer text, links and whatever else -->
      <p class="footer">
        Developed by <a title="Millisami" href="http://millisami.info" target="_blank">Millisami</a> | Copyright© 2008 Handmade-weddingcards.com.</p>
    </div> <!-- //page -->

</div> <!-- //container -->
</div> <!-- //wrapper -->

</body>
</html>
