<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handmade Wedding Cards Authenticaiton</title>

<%= stylesheet_link_tag 'master' %>
<%= stylesheet_link_tag 'lightbox' %>
<%= stylesheet_link_tag 'modalbox' %>
<!--[if IE 6]>
    <%= stylesheet_link_tag 'bug/ie6' %>
<![endif]-->

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'lightbox' %>
<%= javascript_include_tag 'modalbox' %>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <ul class="headerTopLeft">
      <li><%= link_to "Startpage", root_path %></li>
      <li class="separator">|</li>
      <li><%= link_to "Contact Us", "#", :onclick => "onClickLightbox('/pages/2')" %></li>

    </ul>
    <ul class="headerTopRight">
      <li>Wedding Cards </li>
      <li><a href="#">Christmas Cards</a></li>
      <li><a href="#">Bags &amp; Boxes</a></li>
    </ul>
    <div class="headetBot"> <img src="/images/logo.jpg" class="logo" alt="Handmade Wedding Invitations" /> <img src="/images/card_design.jpg" alt="Card Design" /> </div>
  </div>
  <%#= image_tag 'indicator.gif', :id => 'form-indicator', :style => 'display:none;' %>
  <div id="form-indicator" style="display:none;">Loading...</div>
  <ul class="nav">
    <li class="done pr themes"><%= link_to '', root_path %></li>
    <li class="current"><img src="/images/txt_format-products-current.gif" /></li>
    <li><img src="/images/txt_style.gif" /></li>
    <li><%= link_to image_tag("txt_text.gif"), save_cart_path, :id => 'save_cart_menu', :class => '', :title => 'Save cart', :onclick => "Modalbox.show(this.href, {title: this.title, width: 600}); return false;" %></li>

    <li><%= link_to image_tag("/images/txt_preview.gif"), {:controller => :sites, :action => 'show_cart'}, :id => 'show_cart_menu', :class => 'lbOn' %></li>
    <li><%= link_to_remote image_tag("/images/txt_order.gif"),
                :url => '/checkout',
                :method => :get,
                :id => 'checkout_menu' %></li>
    <li><img src="/images/txt_confirmation.gif" /></li>
  </ul>
  <div class="content clearfix">
    <div id="contentTop" class="clearfix">
      <% flash.each do |key, msg| %>
      <%= content_tag :p, msg, :id => key, :class => 'flash' %>
      <% end %>
      <%= yield %> </div>
    <!-- contentTop -->

   
    <div class="bottom">
      <div class="footer">
        <ul class="footerLeft">
          <li>Startpage</li>
          <li class="separator">|</li>
          <li><%= link_to "Contact Us", page_path(2), :title => 'Contact Us', :onclick => "Modalbox.show(this.href, {title: this.title, width: 600}); return false;"  %></li>
          <li class="separator">|</li>
          <li><a href="#">Shipping</a></li>
          <li class="separator">|</li>
          <li><a href="#">Coockies</a></li>
        </ul>
        <div class="footerRight"> PHONE 00977-1-4700253  |  E-MAIL <a href="#">info@handmade-weddingcards.com</a><br />
          Copyright © Handmade Wedding Invitations 2007 </div>
      </div>
      <ul class="footerBot">
        <li>Wedding Cards </li>
        <li><a href="#">Christmas Cards</a></li>
        <li><a href="#">Bags &amp; Boxes</a></li>
      </ul>
    </div>
  </div>
  <div id="inline-sample" style="display: none;">
    <div>
      <p>Oh yeah, this content was pulled from within the page!</p>
      <p>In order to get the LightWindow to fit the content, you have to define the height and width of a div in the inline div or send values for lightwindow_width and lightwindow_height in the url string.   Personally I prefer the inner div method, this way you can gracefully degrade the link as I did into an anchor if javascript isn't available.</p>
      <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum hendrerit nibh at libero. Donec lectus enim, condimentum ac, scelerisque non, malesuada id, diam. Sed porta magna. Ut luctus bibendum nulla. Ut sit amet tellus. Aliquam ut justo. Duis sapien magna, sagittis et, molestie at, interdum a, mi. Nunc nisi arcu, tincidunt quis, adipiscing ac, faucibus convallis, ligula. Aenean lacinia laoreet nisi. Integer dictum. Maecenas porttitor dictum felis. </p>
    </div>
  </div>
</div>
</body>
</html>
